<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/c/font_3788370_nlop2e32tn9.css"
    />
    <link rel="stylesheet" href="../styles/layout/aside.css" />
  </head>
  <body>
    <aside class="theme-green-menu">
      <ul class="menu-list">
        <li class="home item-menu clickGreenItem">
          <i class="iconfont icon-yinle"></i>
          <span>个性推荐</span>
        </li>
        <li class="songsList item-menu">
          <i class="iconfont icon-songlist-01"></i>
          <span>歌单</span>
        </li>
        <li class="rank item-menu">
          <i class="iconfont icon-paixingbang"></i>
          <span>排行榜</span>
        </li>
        <li class="singer item-menu">
          <i class="iconfont icon-yonghu"></i>
          <span>歌手</span>
        </li>
        <li class="mv item-menu">
          <i class="iconfont icon-vrbofangqi"></i>
          <span>MV</span>
        </li>
        <li class="newMusic item-menu">
          <i class="iconfont icon-yinle1"></i>
          <span>最新音乐</span>
        </li>
      </ul>
    </aside>
    <script src="../config/jquery.min.js"></script>
    <script type="module">
      import { addClass, removeClass } from "../utils/setClass.js";

      const changeClass = (theme = "Green") => {
        const lis = $(".item-menu");

        for (let i = 0; i < lis.length; i++) {
          lis[i].onmouseenter = () => {
            addClass(lis[i], `hover${theme}Item`);
          };
          lis[i].onmouseleave = () => {
            removeClass(`hover${theme}Item`);
          };
          lis[i].onclick = () => {
            removeClass(`click${theme}Item`);
            addClass(lis[i], `click${theme}Item`);
            const url = lis[i].className.split(" ")[0];
            // console.log("url", url);
            window.parent.postMessage(url, "*");
          };
        }
      };
      changeClass();

      // 获取父页面传递来的数据
      window.addEventListener("message", function (e) {
        const { data } = e;
        if (data == "green") {
          removeClass("theme-dark-menu");
          removeClass("theme-dark-text");
          addClass("aside", "theme-green-menu");
          // 调用改变类名函数  触发事件
          changeClass("Green");
          // 因为改变类名的函数里面的事件还没有触发，所以第一个还是 clickGreenItem
          // 手动的改变第一个 li 的类名
          $(".clickDarkItem").removeClass("clickDarkItem");
          $(".item-menu:first-child").addClass("clickGreenItem");
        } else if (data == "dark") {
          removeClass("theme-green-menu");
          addClass("aside", "theme-dark-menu");
          addClass(".item-menu span", "theme-dark-text");
          addClass(".item-menu i", "theme-dark-text");
          changeClass("Dark");
          // 因为改变类名的函数里面的事件还没有触发，所以第一个还是 clickGreenItem
          // 手动的改变第一个 li 的类名
          $(".clickGreenItem").removeClass("clickGreenItem");
          $(".item-menu:first-child").addClass("clickDarkItem");
        }
      });
    </script>
  </body>
</html>
